# Build outputs
/target/
/spellcards-api/target/
/spellcards-app/target/
/spellcards-web/target/
/build/
/out/
/spellcards-app/src/generated/resources/
/spellcards-web/node_modules/
/spellcards-web/dist/
/spellcards-web/src/generated/client/

# Local tool caches
/.m2/
/.tmp/
/.cache/

# IDE
/.idea/
/.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log
